.reviews__pagination-dots {
  display: flex;
  flex-flow: row nowrap;
  gap: 16px;
  margin-right: 30px;
}

.reviews__pagination-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  border: 1px solid #242424;
}

.reviews__pagination-dot_current {
  width: 7px;
  height: 7px;
  background-color: #242424;
}