.reviews {
  width: 100%;
  padding: 150px 0 116px;
  box-sizing: border-box;
}

.reviews__container {
  width: 100%;
  padding-left: 362px;
  box-sizing: border-box;
}

.reviews__title-container {
  width: 100%;
  max-width: 718px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
}

.reviews__title {
  font-family: "Neue Machina";
  font-size: 40px;
  line-height: 1;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #242424;
  margin: 0;
}

.reviews__pagination {
  display: flex;
  align-items: center;
}

.reviews__pagination-buttons {
  display: flex;
}

.reviews__slides {
  max-width: 1078px;
  position: relative;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .reviews__container {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 718px) {
  .reviews {
    padding-top: 101px;
    padding-bottom: 77px;
  }
  .reviews__title-container {
    padding: 0 24px;
    box-sizing: border-box;
  }
  .reviews__title {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .reviews__title {
    line-height: 1.14;
  }
}
