/* reset default styles */
.link {
  color: #242424;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.list-item {
  list-style-type: none;
}

.list {
  padding: 0;
  margin: 0;
}



.footer {
  margin: 0 auto;
  padding: 50px 83px 42px 209px;
  position: relative;
}

@media (max-width: 800px) {
  .footer {
    display: flex;
    flex-wrap: wrap;
    padding: 56px 0 74px 0;
  }
}


.footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .footer__wrapper {
    margin: 0 55px 88px;
    display: block;
  }
}


.footer__logo-link {
  position: absolute;
  top: 42px;
  left: 32px;
}

@media (max-width: 800px) {
  .footer__logo-link {
    position: static;
    margin-left: 58px;
  }
}

.footer__logo {
  width: 93px;
}

@media (max-width: 800px) {
  .footer__logo {
    width: 93px;
  }
}


.footer__partners {
  margin: 0 0 53px 0;
  max-width: 578px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 800px) {
  .footer__partners {
    order: 1;
    margin: 0px auto;
  }
}

.footer__partners-header {
  margin: 0;
  font-family: 'Formular';
  font-size: 14px;
  line-height: 1.2;
  width: 145px;
}

@media (max-width: 800px) {
  .footer__partners-header {
    display: none;
  }
}

.footer__partners-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 75%;
  min-width: 410px
}

@media (max-width: 800px) {
  .footer__partners-list{
    width: 100%;
    min-width: 0;
    margin: 0 24px;
  }
}

.footer__adress {
  max-width: 231px;
}

@media (max-width: 800px) {
  .footer__adress {
    margin: 26px 0 58px 0;
    max-width: 100%;
  }
}

.footer__adress-name {
  font-family: 'Neue Machina';
  font-size: 20px;
  line-height: 1.2;
  margin: 0 0 16px 0;
}

.footer__adress-info {
  margin: 0;
}



.footer__links {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
}

@media (max-width: 800px) {
  .footer__links {
    width: 100%;
  }
}

@media (max-width: 1236px) and (min-width: 801px) {
  .footer__links {
    width: 35%;
  }
}

.footer__links-list {
  margin-right: 35px;
}

@media (max-width: 1236px) and (min-width: 801px) {
  .footer__links-list {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .footer__links-list {
    margin-bottom: 53px;
  }

  .footer__links-list:last-child {
    margin: 0;
  }
}

.footer__link {
  margin-bottom: 13px;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link-item {
  font-family: 'Formular';
  font-size: 14px;
  line-height: 1.2;
}

@media (max-width: 800px) {
  .footer__link-item {
    font-family: 'Formular';
    font-size: 18px;
    line-height: 1.2;
  }
}



.footer__website-info {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .footer__website-info {
    order: 2;
    margin-top: 39px;
    display: block;
  }

  .footer__website-info::before {
    content: "";
    position: relative;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    background-color: #242424;
    display: block;
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .footer___website-info-wrapper{
    margin: 0 28px 59px;
  }

  .footer___website-info-wrapper:last-child{
    margin: 0 0 0 28px;
  }
}

@media (max-width: 1110px) and (min-width: 801px) {
  .footer___website-info-wrapper{
    width: 100%;
  }
}

.footer___text {
  margin: 0 32px 12px 0;
  font-family: 'Formular';
  font-size: 14px;
  line-height: 1.2;
  max-width: 217px;
  display: inline-block;
}

.footer___text:last-child {
  margin: 0;
}

@media (max-width: 800px) {
  .footer___text {
    max-width: 235px;
    display: block;
  }
}

.footer___studio_logo {
  width: 27px;
  margin-right: 4px;
}

@media (max-width: 800px) {
  .footer___studio_logo {
    margin-right: 8px;
  }
}

