.header__button-menu {
  margin: 20px 44px 19px 0;
  padding: 0;
  max-height: 22px;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  color: #242424;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  transition: opacity .3s ease;
  cursor: pointer;
}
.header__button-menu:nth-child(7) {
  min-width: 99px;
}
.header__button-menu:last-child {
  margin-right: 29px;
}
.header__button-menu:hover {
  opacity: .6;
}